    <% Object.keys(messages).forEach(function (type) { %>
    <div class="alert alert-<%= type %> alert-dismissible mt-2">
        <% messages[type].forEach( (message)=> { %>
        <%= message %>
        <% }) %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }) %>