<%- include('layouts/header.ejs') %>
<div class="row">
    <div class="col-sm-12 text-center">
        <% if(content=="success"){ %>
        <h5>
            Your Payment is Successfull !.... Contimue Your Shopping with DMart.
        </h5>
        <a href="/" class="btn btn-success btn-sm">Home</a>
        <% }if(content=="failed"){ %>
            <h5>
                Your Payment is UnSuccessfull !.... Try Again !!!
            </h5>
            <a href="/cart/checkout" class="btn btn-success btn-sm">CheckOut Again</a>
        <% } %>
    </div>
</div>
<%- include('layouts/footer.ejs') %>