<%- include('layouts/header.ejs') %>
<h4>
    <%= title %>
</h4>
<form method="POST" action="/users/register">
    <div class="form-group">
        <label for="name">Name</label>
        <input style="background-color: rgba(231, 147, 248, 0.678);" required type="text" class="form-control" name="name" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="mail">E-Mail</label>
        <input style="background-color: rgba(231, 147, 248, 0.678);" required type="email" class="form-control" name="mail" id="mail" placeholder="E-Mail">
    </div>
    <div class="form-group">
        <label for="name">UserName</label>
        <input style="background-color: rgba(231, 147, 248, 0.678);" required type="text" class="form-control" name="username" id="username" placeholder="UserName">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input style="background-color: rgba(231, 147, 248, 0.678);" required type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="cpassword">Confirm Password</label>
        <input style="background-color: rgba(231, 147, 248, 0.678);" required type="password" class="form-control" name="cpassword" id="cpassword"
            placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-outline-primary">Register</button>
</form>
<%- include('layouts/footer.ejs') %>