<%- include('layouts/header.ejs') %>
<h4 class="text-center">
    <%= title %>
</h4>
<form method="POST" action="/users/register">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input style="background-color: rgba(247, 171, 8, 0.829);" required type="text" class="form-control"
                name="name" id="name" placeholder="Name">
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="mail">E-Mail</label>
            <input style="background-color: rgba(247, 171, 8, 0.829);" required type="email" class="form-control"
                name="mail" id="mail" placeholder="E-Mail">
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="name">UserName</label>
            <input style="background-color: rgba(247, 171, 8, 0.829);" required type="text" class="form-control"
                name="username" id="username" placeholder="UserName">
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input style="background-color: rgba(247, 171, 8, 0.829);" required type="password" class="form-control"
                name="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-md-6">
            <label for="cpassword">ConfirmPassword</label>
            <input style="background-color: rgba(247, 171, 8, 0.829);" required type="password" class="form-control"
                name="cpassword" id="cpassword" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-row justify-content-center">
        <button type="submit" style="background-color: rgba(247, 171, 8, 0.829);" class="btn">Register</button>
    </div>
</form>
<%- include('layouts/footer.ejs') %>