body {
    background-color: rgba(252, 6, 240, 0.158);
}

.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight {
    border: 2px dashed #000000;
}

#no-image,
#product-img {
    width: 100px;
    height: 100px;
}

.current-image {
    width: 200px;
    height: 200px;

}

ul.gallery {
    padding: 0;
}

ul.gallery li:first-child {
    margin-left: 0;
}

ul.gallery li {
    margin: 20px;
    display: inline;
}